* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background:url('img/house.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
}

.navbar {
	color: #fff;
	margin-left: 5rem;
	margin-top: 5rem;
	font-size: 30px;
	font-weight: bold;
}
.updates {
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 2.5rem;
	margin-left: 6rem;
}
.fw-bolder {
	color: #ffffff;
	padding-top: 1rem;
	margin-left: 6rem;
	font-size: 3rem;
}
.first {
	color: #ffffff;
	padding-top: 4rem;
	margin-left: 6rem;
	font-size: 1.2rem;
}
.before  {
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 8px 0 5px;
}
button.btn {
	background-color: #e70f2b;
	color: #ffffff;
	height: 6rem;
	width: 20rem;
	margin-left: 6rem;
	margin-top: 3rem;
	font-size: 20px;
}
.fas {
	padding: 10px;
}
p {
	color: #ffffff;
	margin: 5rem;
}
footer {
	clear: both;
	position: relative;
	height: 200px;
	margin-top: 500px;
	color: #ffffff;
	margin-left: 5rem;

}
.underline {
	text-decoration: underline;
}

/*MEDIA QUERIES*/
@media (max-width: 576px) {
	.navbar {
		margin-top: 1rem;
		margin-left: 1rem;
	}
	.first {
		margin-left: 1rem;
	}
	.fw-bolder {
		margin-left: 1rem;
		width: 101%;
		font-size: 2.3rem;
	}
	.updates {
		margin-left: 1rem;
	}
	button {
		
	}
}
