* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url('img/pool.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
}
.navbar {
	color: #fff;
	margin-left: 5rem;
	margin-top: 5rem;
	font-size: 30px;
	font-weight: bold;
}
h4 {
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 7rem;
	margin-left: 6rem;
}
h1 {
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 1rem;
	margin-left: 6rem;
}
h3 {
	color: #ffffff;
	padding-top: 1rem;
	margin-left: 6rem;
}
.caps  {
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 8px 0 5px;
}
button.btn {
	background-color: #e70f2b;
	color: #ffffff;
	height: 6rem;
	width: 20rem;
	margin-left: 6rem;
	margin-top: 4rem;
	font-size: 20px;
}
.fas {
	padding: 10px;
}
p {
	color: #ffffff;
	margin: 10rem;
}
footer {
	clear: both;
	position: relative;
	height: 200px;
	margin-top: 500px;
	color: #ffffff;
	margin-left: 5rem;
}
.underline {
	text-decoration: underline;
}